<!DOCTYPE html>
<html>
<head>
	<title>Voting App</title>

	<!-- CDNs -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

	<!-- Internal -->
	<link rel="stylesheet" type="text/css" href="./assets/style.css">
	<script src="assets/index.js"></script>
	<!-- External Styles-->
	<link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
	<div class="container-fluid">
		<nav class="navbar navbar-light navbar-expand-lg">
			<a class="navbar-brand" href="#"><img src="assets/logo.png" alt="vote logo" id="logo"></a>
			<a class="navbar-brand votex" href="#">VoteX</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		    	<li class="nav-item active">
		    		<a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
		    	</li>
		    	<li class="nav-item">
		    		<a class="nav-link nav-link-user" href="/create">Create Poll<span class="sr-only">(current)</span></a>
		    	</li>
		    	<li class="nav-item nav-link-user">
		    		<a class="nav-link" href="/mypolls">My Polls<span class="sr-only">(current)</span></a>
		    	</li>
		    </ul>
		    <ul class="navbar-nav ml-auto">
		    	<li class="nav-item">
		        	<% if(session==true){ %>
		        		<%- name %>
		        		<%} else {%>
		        		<%- signup  %>
		        		<% } %> 
		     	 </li>
		     	 <li class="nav-item">
		     	 	<% if(session==true) { %>
					<%- logout %>
					<%} else {%>
					<%- login %>
					<% } %>
		     	 </li>
		    </ul>
		  </div>
		</nav>
	</div>
	<div class="container-fluid jumbotron-fluid">
		<h1 class="votex">VoteX</h1>
		<p class="desc">Chillwave gochujang hot chicken XOXO mlkshk street art.</p>
		<div class="text-center">
		<button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#modal-sign">Sign-Up</button>
		</div>
	</div>
	<div class="container-fluid info">
		<div class="row text-center">
			<div class="col-sm-4">
				<i class="fa fa-wifi fa-5x" aria-hidden="true"></i>
				<h2>Live</h2>
				<div class='desc-cont'>
					<p class='desc-info'>Lorem ipsum dolor amet poke pop-up actually bicycle rights disrupt, deep v XOXO williamsburg. Prism vaporware ethical, knausgaard fingerstache stumptown keffiyeh.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-share-square fa-5x" aria-hidden="true"></i>
				<h2>Share</h2>
				<div class='desc-cont'>
					<p class='desc-info'>Lorem ipsum dolor amet poke pop-up actually bicycle rights disrupt, deep v XOXO williamsburg. Prism vaporware ethical, knausgaard fingerstache stumptown keffiyeh.</p>
				</div>
			</div>
			<div class="col-sm-4">
				<i class="fa fa-globe fa-5x" aria-hidden="true"></i>
				<h2>Anywhere</h2>
				<div class='desc-cont'>
					<p class='desc-info'>Lorem ipsum dolor amet poke pop-up actually bicycle rights disrupt, deep v XOXO williamsburg. Prism vaporware ethical, knausgaard fingerstache stumptown keffiyeh.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="container-fluid text-center footer">
		<p>for FreeCodeCamp - @edmondnow</p>
	</div>
	<!-- Login Modal -->
	<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalLabel">Login</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<form action="" method="post" enctype="multipart/form-data">
			  <div class="form-group">
			    <label for="loginEmail">Email</label>
			    <input type="email" class="form-control" id="loginEmail" placeholder="Enter email" name="logemail">
			  </div>
			  <div class="form-group">
			    <label for="loginPassword">Password</label>
			    <input type="password" class="form-control" id="loginPassword" placeholder="Password" name="logpassword">
			  </div>
			  <div class="form-check">
			    <input type="checkbox" class="form-check-input" id="loginCheck">
			    <label class="form-check-label" for="check">Remember me</label>
			  </div>
			  <button type="submit" class="btn btn-primary" id="loginSubmit">Submit</button>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
	<!-- Sign-up Modal -->
	<div class="modal fade" id="modal-sign" tabindex="-1" role="dialog" aria-labelledby="modal" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="modalLabel">Sign-up</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
			<form method="post" action="" enctype='multipart/form-data'>
			<div class="form-group">
			    <label for="inputEmail">Email</label>
			    <input type="email" name="email" class="form-control" id="signEmail" placeholder="Enter email address">
			    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
			  </div>
			  <div class="form-group">
			    <label for="inputUsername">Username</label>
			    <input type="text"  name="username" class="form-control" id="signUsername" placeholder="Enter username" pattern=".{6,15}"   required title="6 characters minimum, maximum 15.">
			  </div>
			  <div class="form-group">
			    <label for="inputPassword">Password</label>
			    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
			  </div>
			  <div class="form-group">
			    <input type="password" name="passwordConf" class="form-control" id="passwordConf" placeholder="Confirm password" required pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters">
			  </div>
			  <button type="submit" class="btn btn-primary" id="signSubmit">Submit</button>
			</form>
	      </div>
	    </div>
	  </div>
	</div>
</body>
</html>